# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/

# Database files (optioneel)
*.db

# VS Code / IDE settings
.vscode/
.idea/

# macOS files
.DS_Store